.enquiries ion-item{
    padding: 15px 15px 15px 0;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.enquiries ion-card{
    border-radius: 10px;
    box-shadow: 0px 5px 15px -3px;
}