@font-face {
    font-family: 'Polly Rounded';
    src: url('../assets/fonts/PollyRounded-Light.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Polly Rounded';
    src: url('../assets/fonts/PollyRounded-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Polly Rounded';
    src: url('../assets/fonts/PollyRounded-Bold.ttf');
    font-weight: 800;
    font-style: normal;
  }