ion-title {
    font-style: bold;
    font-size: 22px !important;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.808);
    span {
        color: var(--ion-color-morfy);
    }
}
.order-total{
    padding: 5px;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Roboto';
    margin: -3px 0 0 3px;
}
ion-fab{
    margin-bottom: 64px;
    margin-right: -2px;
}

app-qr-picker{
    margin-bottom: 16px;
}

