ion-title {
    font-style: bold;
    font-size: 22px !important;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.808);
}

.order-total{
    padding: 5px;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Roboto';
    margin: -3px 0 0 3px;
}