<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Pedidos</ion-title> -->
    <ion-segment value="all" [(ngModel)]="segment">
      <ion-segment-button value="pending">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Completados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content class="bg">



  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- <div class="padding-no-padding" *ngIf="!isLoading">
    <ion-list lines="" class="list-transactions" *ngIf="pendingOrder">   
      <ion-item *ngFor="let product of pendingOrder.products">
        <ion-img slot="start" 
          [src]="product.product.imageUrl">
        </ion-img>
        <ion-label>
          <h2>{{product.product.name}}</h2>
          <p>{{product.product.description | titlecase }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-row *ngIf="!pendingOrder" class="types">
      <ion-col>
        <p>No se encontraron pedidos.</p>
      </ion-col>
    </ion-row>
  </div> -->


  <ion-grid class="ion-no-padding" *ngIf="!isLoading && pendingOrder && segment === 'pending'">
    <ion-row class="pending-order" *ngFor="let product of pendingOrder.products; let i = index"> <!--(click)="filterEmployees(type)">-->
      <ion-col size=4>
        <div class="list-img"
          [ngStyle]="{'background-image': 'url(' + product.product.imageUrl + ')'}">
        </div>
      </ion-col>
      <ion-col size=8>
        <div class="title">
          {{product.product.name}}
        </div>
        <div class="subtitle">
          x {{product.quantity}}
        </div>
        <div class="price">
          <span>$ {{product.product.price * product.quantity}}</span>
        </div>
        <div class="quantity">
          <ion-button class="remove" mode="ios" color="medium" (click)="updateQty(product.product.id, $event, 'remove')"><ion-icon name="remove"></ion-icon></ion-button>
          <span class="qty">{{product.quantity}}</span>
          <ion-button class="add morfy-btn" mode="ios" (click)="updateQty(product.product.id, $event, 'add')"><ion-icon name="add"></ion-icon></ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="centered" *ngIf="!isLoading && !pendingOrder && segment === 'pending'">
    <div style="width: 100%;">
      <img src="/assets/img/sarten.gif" alt="">
      <div class="card">
        <ion-row class="welcome">
          <ion-col>
            <h5><strong>No tenés pedidos pendientes.</strong></h5>
            <p>Para crear uno agrega productos al carro.</p>
          </ion-col>        
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              mode="ios"
              expand="block" 
              class="ion-margin-top enter"
              (click)="navCtrl.navigateBack('customer/main/home')">
              Agregar productos!
            </ion-button>        
          </ion-col>      
        </ion-row>
     </div>
    </div>
  </div>


  <ion-grid class="ion-no-padding" *ngIf="!isLoading && segment === 'completed'">
    <ion-row class="completed" *ngFor="let order of completedOrders; let i = index">
      <ion-col size=2>
        <div class="order-date">
          <span class="qty">{{order.date |  date:'shortDate'}}</span>
        </div>        
        <div class="list-img"
          [ngStyle]="{'background-image': 'url(https://image.flaticon.com/icons/svg/2995/2995927.svg)'}">
        </div>
      </ion-col>
      <ion-col size=10>
        <div class="title">
          Cod: {{order.id}}
        </div>
        <div class="subtitle" *ngFor="let product of order.products; let i = index">
          {{i+1}}. {{product.product.name }}
        </div>
        <div class="price">
          <span>$ {{calculateOrderTotal(order)}}</span>
        </div>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer class="ion-no-border" *ngIf="!isLoading && pendingOrder && segment === 'pending'">
  <ion-toolbar color="light">
    <ion-row class="bottom" >
      <ion-col size=6 class="justify-content-end; align-items-end" >
        <div class="total">
          Total
        </div>
      </ion-col>
      <ion-col size=2>
        <div class="total-price">
         $ {{calculateOrderTotal(pendingOrder)}}
        </div>        
      </ion-col>
      <ion-col>
        <ion-button mode="ios" class="add morfy-btn" (click)="checkout()">Pedir</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-title>Footer - No Border</ion-title> -->
  </ion-toolbar>
</ion-footer>
