<ion-content>

  <ion-grid class="ion-no-padding section-title" *ngIf="!isLoading">
    <ion-row>
      <ion-col size="6">
      <div class="text-bold text-18pt">Carrito</div>
      </ion-col>
      <ion-col size="6" tappable style="padding: 10px 0">
        <div *ngIf="cart"
          class="text-custom ion-text-right text-10pt edit"
          (click)="edit = (edit == false) ? true : false">Editar
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding" *ngIf="!isLoading && cart">
    <ion-row class="row-cards">
      <ion-col *ngFor="let product of cart.products; let i = index">
        <div class="card ion-padding"
          [ngStyle]="{'background-image': 'url(' + product.product.imageUrl + ')'}" 
          [attr.img-custom]="i">
          <div class="details">
            <ion-row>
              <ion-col size=12>
                <div class="title">{{product.product.name.length > 20 ?  product.product.name.substring(0,20)+"..." : product.product.name }}</div>
              </ion-col>
                <div class="qty">
                  <ion-badge> x{{product.quantity}}
                  </ion-badge>
                </div>
                <!-- <div class="price">
                  <ion-badge> ${{product.product.price * product.quantity}}
                  </ion-badge>
                </div> -->
            </ion-row>
          </div>
          <div class="details2">
            <ion-row>
              <ion-col>
                <!-- <div class="qty">
                  <ion-badge> x{{product.quantity}}
                  </ion-badge>
                </div> -->
                <div class="price">
                  <ion-badge> ${{product.product.price * product.quantity}}
                  </ion-badge>
                </div>
              </ion-col>               
            </ion-row>
          </div>
          <ion-button *ngIf="edit"
            class="remove edit"
            mode="ios"
            color="warning"
            (click)="updateQty(product.product.id, $event, 'remove')">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="changeQty" *ngIf="edit">
          <ion-button
            class="subtractQty edit"
            mode="ios"
            (click)="updateQty(product.product.id, $event, 'subtract')">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
          <span>{{product.quantity}}</span>           
          <ion-button
            class="addQty edit"
            mode="ios"
            (click)="updateQty(product.product.id, $event, 'add')">
            <ion-icon name="add"></ion-icon>
          </ion-button>     
        </div>
      </ion-col>
      <ion-col>
        <div class="add-product ion-padding" (click)="navCtrl.navigateBack('customer/main/home')">
          <ion-button 
            mode="ios"
            class="morfy-btn"
            (click)="navCtrl.navigateBack('customer/main/home')">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding" *ngIf="!isLoading && !cart">
    <ion-row class="row-cards">
      <ion-col>
        <div class="add-product ion-padding" (click)="navCtrl.navigateBack('customer/main/home')">
          <ion-button 
            mode="ios"
            class="morfy-btn"
            (click)="navCtrl.navigateBack('customer/main/home')">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="ion-no-padding padding-right" style="margin-bottom: 20px;" *ngIf="!isLoading && cart && !edit">
    <ion-row>
      <ion-col>
        <ion-item tappable lines="none">
          <ion-label slot="start">
            <div class="text-custom text-10pt">Total en carrito:</div>
            <div class="text-primary text-bold text-15pt">
              <ion-icon style="position: absolute; top: 49%;"
                src="https://image.flaticon.com/icons/svg/3037/3037150.svg">
              </ion-icon> <span style="margin-left:23px">{{calculateOrderTotal(cart)}}</span></div>
          </ion-label>
          <ion-button slot="end" style="height: 44px; width: 120px; font-size: 17px;letter-spacing: 1px;"
            mode="ios"
            class=" morfy-btn"
            (click)="order()">
            Pedir!
          </ion-button>        
        </ion-item>
      </ion-col>      
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding section-title orders" *ngIf="!isLoading && !edit">
    <ion-row>
      <ion-col size="6">
        <div class="text-bold text-18pt">Pedidos</div>
      </ion-col>
      <ion-col size="10" style="padding: 10px 0" *ngIf="processedOrders.length == 0">
        <p class="text-custom text-10pt" >No tienes pedidos pendientes</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-list lines="none" class="list-team ion-padding">

      <ion-item tappable *ngFor="let order of processedOrders; let i = index" (click)="presentAlertReceived(order)">
        <ion-avatar slot="start" [ngClass]="{'border-done': calculateDeliveryTime(order).percent == 0}">
          <img [src]="order.products[0].product.imageUrl"/>
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="order.products[1]" style="margin-left: -29px;" [ngClass]="{'border-done': calculateDeliveryTime(order).percent == 0}">
          <img [src]="order.products[1].product.imageUrl"/>
        </ion-avatar>
        <ion-label>
          <div [ngClass]="{'color-done': calculateDeliveryTime(order).percent == 0}"  class="text-primary text-bold text-11pt">Nº Pedido: {{order.id | slice:0:4}}</div>
          <div *ngIf="calculateDeliveryTime(order).percent != 0" class="text-custom text-8pt"><ion-icon name="time"></ion-icon> {{order.date | dateAgo}}</div>
          <div *ngIf="calculateDeliveryTime(order).percent == 0" class="text-custom text-9pt">Clic para confirmar recepción</div>
        </ion-label>
        <circle-progress slot="end" *ngIf="calculateDeliveryTime(order).percent != 0" 
          [percent]="calculateDeliveryTime(order).percent" 
          [title]="calculateDeliveryTime(order).time">
        </circle-progress>
        <ion-icon class="check color-done" *ngIf="calculateDeliveryTime(order).percent == 0" slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-item>

    </ion-list>
  </ion-grid>

  
  <ion-grid class="ion-no-padding section-title orders" *ngIf="!isLoading && receivedOrders.length != 0">
    <ion-row>
      <ion-col>
        <div class="text-bold text-18pt">Listos para pagar</div>
        <p class="text-custom text-9pt" style="padding-right: 20px;margin-bottom: 0;" *ngIf="processedOrders.length != 0">Para poder solicitar la cuenta debes haber confirmado la recepción de todas tus ordenes.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-list lines="none" class="list-team ion-padding">

      <ion-item tappable *ngFor="let order of receivedOrders; let i = index">
        <ion-avatar slot="start" class="border-done">
          <img [src]="order.products[0].product.imageUrl"/>
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="order.products[1]" style="margin-left: -29px;" class="border-done">
          <img [src]="order.products[1].product.imageUrl"/>
        </ion-avatar>
        <ion-label>
          <div class="text-primary text-bold text-11pt color-done">Nº Pedido: {{order.id | slice:0:4}}</div>
          <div  class="text-custom text-9pt">Esperando pago...</div>
        </ion-label>
        <ion-icon class="check money color-done" slot="end" name="cash-outline"></ion-icon>
      </ion-item>

    </ion-list>
  </ion-grid>

  <ion-grid class="ion-no-padding padding-right" style="margin-bottom: 20px;" *ngIf="!isLoading && receivedOrders.length != 0">
    <ion-row>
      <ion-col>
        <ion-item tappable lines="none">
          <ion-label slot="start">
            <div class="text-custom text-10pt">Total:</div>
            <div class="text-primary text-bold text-15pt">
              <ion-icon style="position: absolute; top: 49%;"
                src="https://image.flaticon.com/icons/svg/3037/3037150.svg">
              </ion-icon> <span style="margin-left:23px">{{calculateAllOrdersTotal(receivedOrders)}}</span></div>
          </ion-label>
          <ion-button slot="end" style="height: 40px;width: 125px;font-size: 16px;letter-spacing: 1px;" [attr.disabled]="processedOrders.length != 0 ? '' : null"
            mode="ios"
            class=" morfy-btn"
            (click)="qrActions()">
            Ver cuenta
          </ion-button>        
        </ion-item>
      </ion-col>      
    </ion-row>
  </ion-grid>


</ion-content>



















































<!-- <ion-header>
  <ion-toolbar>
    <ion-segment value="all" [(ngModel)]="segment">
      <ion-segment-button value="pending">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Completados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content class="bg">



  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="ion-no-padding" *ngIf="!isLoading && cart && segment === 'pending'">
    <ion-row class="pending-order" *ngFor="let product of cart.products; let i = index">
      <ion-col size=4>
        <div class="list-img"
          [ngStyle]="{'background-image': 'url(' + product.product.imageUrl + ')'}">
        </div>
      </ion-col>
      <ion-col size=8>
        <div class="title">
          {{product.product.name}}
        </div>
        <div class="subtitle">
          x {{product.quantity}}
        </div>
        <div class="price">
          <span>$ {{product.product.price * product.quantity}}</span>
        </div>
        <div class="quantity">
          <ion-button class="subtract" mode="ios" color="medium" (click)="updateQty(product.product.id, $event, 'subtract')"><ion-icon name="remove"></ion-icon></ion-button>
          <span class="qty">{{product.quantity}}</span>
          <ion-button class="add morfy-btn" mode="ios" (click)="updateQty(product.product.id, $event, 'add')"><ion-icon name="add"></ion-icon></ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="centered" *ngIf="!isLoading && !cart && segment === 'pending'">
    <div style="width: 100%;">
      <img src="/assets/img/sarten.gif" alt="">
      <div class="card">
        <ion-row class="welcome">
          <ion-col>
            <h5><strong>No tenés pedidos pendientes.</strong></h5>
            <p>Para crear uno agrega productos al carro.</p>
          </ion-col>        
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              mode="ios"
              expand="block" 
              class="ion-margin-top enter"
              (click)="navCtrl.navigateBack('customer/main/home')">
              Agregar productos!
            </ion-button>        
          </ion-col>      
        </ion-row>
     </div>
    </div>
  </div>


  <ion-grid class="ion-no-padding" *ngIf="!isLoading && segment === 'completed'">
    <ion-row class="completed" *ngFor="let order of processedOrders; let i = index">
      <ion-col size=2>
        <div class="order-date">
          <span class="qty">{{order.date |  date:'shortDate'}}</span>
        </div>        
        <div class="list-img"
          [ngStyle]="{'background-image': 'url(https://image.flaticon.com/icons/svg/2995/2995927.svg)'}">
        </div>
      </ion-col>
      <ion-col size=10>
        <div class="title">
          Cod: {{order.id}}
        </div>
        <div class="subtitle" *ngFor="let product of order.products; let i = index">
          {{i+1}}. {{product.product.name }}
        </div>
        <div class="price">
          <span>$ {{calculateOrderTotal(order)}}</span>
        </div>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer class="ion-no-border" *ngIf="!isLoading && cart && segment === 'pending'">
  <ion-toolbar color="light">
    <ion-row class="bottom" >
      <ion-col size=6 class="justify-content-end; align-items-end" >
        <div class="total">
          Total
        </div>
      </ion-col>
      <ion-col size=2>
        <div class="total-price">
         $ {{calculateOrderTotal(cart)}}
        </div>        
      </ion-col>
      <ion-col>
        <ion-button mode="ios" class="add morfy-btn" (click)="checkout()">Pedir</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
