<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>m</span>orfy
    </ion-title>
    <ion-avatar slot="end" style="height:40px; width: 40px; margin-right: 8px;" *ngIf="user">
      <img [src]="user ? user.imageUrl : 'Loading...'" (click)="logout()">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

  
<ion-content>

  <ion-grid class="head" *ngIf=" user && waitingList && user.status == 'waiting_table' && !user.table && !isLoading">
    <div class="centered" *ngIf="waitingList.length > 0">
      <circle-progress [percent]="100 * myPosition / waitingList.length"
        [animation]="true"
        [showSubtitle]="true" [showUnits]="false" [titleFormat]="formatTitle" subtitle="en la fila">
      </circle-progress>
      <!-- <img src="/assets/img/qr.gif"/> -->

      <h2>Lista de espera</h2>
      <p>Estamos preparando tu mesa, en breve te asignaremos una y podrás acceder con el codigo Qr de la misma. Te encontras en la posicion <b>{{myPosition}}</b> en la lista.</p>
    </div>
  </ion-grid>


  <ion-grid class="head" *ngIf=" user && user.table">
    <div class="centered">
      <circle-progress [percent]="0"
        [animation]="true"
        [showSubtitle]="true" [showUnits]="false" [titleFormat]="formatTitle" subtitle="Nro de mesa">
      </circle-progress>
      <!-- <img src="/assets/img/qr.gif"/> -->

      <h2>Tu mesa esta lista</h2>
      <p>Tu mesa te espera, procedé a leer el codigo Qr tu numero de mesa para empezar.</p>

      <app-qr-picker></app-qr-picker>

    </div>
  </ion-grid>




















    <!-- <ion-slides [options]="slideOpts" #slides (ionSlideWillChange)="doCheck()">
      <ion-slide>
        <img src="/assets/img/qr.gif"/>
        <h2>Buscar mesa</h2>
        <p>Escaneá el <b>codigo Qr</b> para anotarte en la lista de espera, o selecciona tu mesa si ya tenes una asignada.</p>
        <ion-button 
          class="qr-btn morfy-btn"
          mode="ios"
          size="small"
          (click)="navCtrl.navigateForward('/customer/waiting-list')">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-button>  
      </ion-slide>

      <ion-slide>
        <img src="/assets/img/delivery2.gif"/>
        <h2>Delivery</h2>
        <p>Ingresá para hacer un pedido a domicilio, recordá que debes estar <b>registrado</b> para acceder al delivery.</p>
      </ion-slide>

      <ion-slide>
        <img src="/assets/img/reservations.gif"/>
        <h2>Reserva</h2>
        <p>Reservá una mesa desde la App. Recordá que debes estar registrado para realizar reservas.</p>
      </ion-slide> 
    </ion-slides>

    <ion-button mode="ios"
        fill="clear"
        class="backBtn"
        *ngIf="!disablePrevBtn"
        (click)="slides.slidePrev()">
        <ion-icon src="https://image.flaticon.com/icons/svg/271/271220.svg"></ion-icon>
    </ion-button>
    <ion-button mode="ios"
        fill="clear"
        class="nextBtn" 
        *ngIf="!disableNextBtn" 
        (click)="slides.slideNext()">
        <ion-icon src="https://image.flaticon.com/icons/svg/271/271228.svg"></ion-icon>
    </ion-button> -->
     
</ion-content>

