ion-content {
    --padding-start: 22px;
}

.section-title {
    color: rgba(0, 0, 0, 0.589);
    font-size: 20px;
    font-weight: bolder;
    margin: 20px 0 20px 2px;
}

ion-card {
    border-radius: 20px;
    padding: 10px;
    margin: 5px 20px 10px 0px;
    /* background-color: rgba(200, 200, 200, 0.1); */
    box-shadow: none !important;
    border: 1px solid rgba(73, 73, 73, 0.2);
}