

.message {
    padding: 40px 25px;
    background-color: var(--ion-color-light);
    .message-txt {
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 19px;
    }
    .p-txt {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.37);
    }
}



.completed {
    overflow: hidden;
    min-height: 120px;
    margin: 10px 20px 10px 20px;
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(114, 114, 114, 0.24) !important;

    .title {
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 5px 0;

    }
    .subtitle {
        color: rgba(0, 0, 0, 0.418);
        font-size: 14px;
        margin: 20px 0 5px 0;
        line-height: 1.4;
        float: right;
    }
    .price {
        color: orange;
        float:right;
        margin: 20px 0 5px 0;
        font-weight: bold;
        FONT-SIZE: 15px;    
    }
    .order-date {
        // width: 50%;
        height: 40px;
        // border: 1px solid rgba(114, 114, 114, 0.493);
        border-radius: 30px;
        // position: absolute;
        padding: 0 !important;
        color: var(--ion-color-light);
        font-size: 16px;
        // top: 0;
        // right: 0;
        // .qty {
        //     padding: 0;
        // }
    }
    ion-button {
        height: 35px;
        width: 35px;
        margin-right: 20px;
        --border-radius: 100%;
        font-size: 12px;
        // position: absolute;
        padding: 0 !important;
        // bottom: 0;
    }
    .remove{
        // right: 70px;
    }

    .add{
        // float: right;
        // right: 0;
    }
    .list-img {
        height: 50px;
        width: 70px;
        margin: 0 !important;
        float: left;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 35px;
    }
}



ion-toolbar{
    ion-button {
        width: 100%;
        height: 60px;
        margin: 0 !important;
        --border-radius: 0px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .delete-btn {
        --background: none;
        background-color: rgba(128, 128, 128, 0.158) !important;     
        --color: none;  
        color: rgba(0, 0, 0, 0.747) !important; 
        // float: right;
    }
    .bottom {
    }
    ion-col {
        padding: 0;
    }
    // box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.048);
    .total {
        // float: left;
        padding: 20px 0 20px 110px;
        // margin: 20px 10px 0px 150px;
    }
    .total-price {
        color: orange;
        padding: 20px 0 20px 0;
        // float: left;
        // margin: 20px 10px 0px 160px;
    }
}

.propina{
    padding: 15px 20px;
    .cantidad{
        background: #f4f5f8;
        border-radius: 10px;
        text-align: center;
        margin: 0 5px;
    }
    .selected{
        background: #ee626e;
        color: white;
    }
}



.text-8pt { font-size: 8pt; }
.text-9pt { font-size: 9pt; }
.text-10pt { font-size: 10pt; }
.text-11pt { font-size: 11pt; }
.text-12pt { font-size: 12pt; }
.text-15pt { font-size: 15pt; }
.text-18pt { font-size: 18pt; }