<ion-header translucent class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Detalle de la cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal('close')"><ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="message">
    <div class="message-txt">
      Esperando el pago ...
    </div>
    <div class="p-txt">
      Por favor complete el pago para confirmar su pedido. Los precios incluyen impuestos.
    </div>
  </div>
  
  <ion-list class="ion-padding">
    <div *ngFor="let order of receivedOrders; let i = index">
      <div class="text-primary text-bold text-11pt color-done"><strong>Nº Pedido: {{order.id | slice:0:4}}</strong></div>
      <ion-list>
        <ion-item lines="none"  *ngFor="let item of order.products; let x = index">
          <ion-label>{{item.product.name}} <span *ngIf="item.quantity > 1"> (x{{item.quantity}}) </span></ion-label>
          <ion-note class="text-11pt" slot="end" color="primary"><span *ngIf="item.quantity > 1" style="color: dimgrey;">(${{item.product.price}}x{{item.quantity}})</span> $ {{item.product.price * item.quantity}}</ion-note>
        </ion-item>
      </ion-list>
      </div>
    </ion-list> 

    <ion-grid>
      <div style="padding-left:10px;"><span class="question-sign">?</span>Quieres dejar propina al mozo?</div>
      <ion-row class="propina">
        <ion-col (click)="tip('0')" [ngClass]="{'selected': selected == '0'}" class="cantidad selected">
          0
        </ion-col>
        <ion-col (click)="tip('5')" [ngClass]="{'selected': selected == '5'}" class="cantidad">
          5%
        </ion-col>
        <ion-col (click)="tip('10')" [ngClass]="{'selected': selected == '10'}" class="cantidad">
          10%
        </ion-col>
        <ion-col (click)="tip('20')" [ngClass]="{'selected': selected == '20'}" class="cantidad">
          20%
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-item lines="none" style="border-top: 3px solid #efefef;">
      <ion-label class="text-18pt"><strong> Total</strong></ion-label>
      <ion-note class="text-11pt" slot="end" color="primary"> 
        <ion-icon style="position: absolute;top: 40%;font-size: 20px;"
        src="https://image.flaticon.com/icons/svg/3037/3037150.svg">
      </ion-icon><span style="margin-left: 30px;font-size: 18pt;">{{totalWithTip}}</span>
    </ion-note>
    </ion-item>

  </ion-content>
  
  
  <ion-footer class="ion-no-border">
    <ion-toolbar color="light">
      <ion-row class="bottom" >
        <ion-col size=6 class="justify-content-end; align-items-end" >
        </ion-col>
        <ion-col  size=6>
          <ion-button mode="ios" class="pay-btn morfy-btn" (click)="closeModal('pay')">Pagar</ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-title>Footer - No Border</ion-title> -->
    </ion-toolbar>
  </ion-footer>
  